extends ../layouts/main 
block content 
    include ../partials/title
    p homePageParagraph
    form(method="post" class="form")
        label.label.row1(for="myInput") My Label: 
        input(type="text" id="myInput" name="myInput")